

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p {
  color: #666666;
}
body {
  background: url('and-machines-vqTWfa4DjEk-unsplash 1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
 
}
.content {
  width: 440px;
  background-color: #f9f9f9;
  /* width: 70vw; */
  border-radius: 8px;
  padding-bottom: 1rem;
 
}
.logo {
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 2rem;
}
.logo img {
  width: 140px;
}
.writeup {
  text-align: center;
  margin-top: 2vh;
}
#header {
  font-size: 1.5em;
}
#sub-head {
  font-size: 0.9em;
  padding: 14px 20px;
}
.input label {
  font-size: 0.9em;
  font-weight: 600;
  margin-top: 1rem;
  color: #251b2c
 
  /* padding-bottom: 20px; */
}
.label {
  margin-bottom: 7px;
}
.input {
  margin-bottom: 12px;
}
.registration {
  margin-top: 2vh;
  padding: 0 20px;

  /* width should be here */
}
.registration form input {
  padding: 15px;
  margin-bottom: 16px;
  border-radius: 6px;
  border: 0.5px solid rgb(189, 188, 188);
  width: 100%;
}
input {
  outline-color: #a535f1;
 
}
.password input {
  padding-right: 50px;
}
.input-icon {
  position: relative;
}
#font-icon {
  position: absolute;
  right: 0;
  padding-right: 10px;
  padding-top: 15px;
}
#password-hint .helptext {
  font-size: 0.6em;
  text-decoration: none;
  color: #a535f1;
}
.btn {
  margin: 4vh 0;
  /* padding: 13px; */
  height: 37px;
  margin-bottom: 5px;
  border-radius: 100px;
  border: none;
  width: 100%;
  color: #ffffff;
  background-color: #a535f1;
  font-size: 0.9em;
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
cursor: pointer;
}
.last-section {
  display: flex;
  justify-content: space-between;
  font-size: 0.7em;
  margin-top: 7px;
}
#forgot-pw {
  color: #a535f1;
}
span {
  color: #a535f1;
}
.line-through {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}
.line-1 {
  height: 2px;
  width: 40%;
  border: 1px solid #bdb8b8;
}
.or {
  margin: 5px 10px 15px 10px;
  font-size: 0.8em;
}
.line-2 {
  height: 2px;
  width: 40%;
  border: 1px solid #bdb8b8;
}
.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 7vh;
}
.google-icon {
  width: 30px;
}

.facebook-icon {
  width: 23px;
}
.apple-icon {
  width: 28px;
}
.google,
.facebook,
.apple {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bdb8b8;
  border-radius: 20px;
  height: 40px;
  width: 80px;
}
#acct, #forgot-pw {
  margin-top: 1.5rem;
  font-size: 0.85rem;
}
a{
  text-decoration: none;
}
@media screen and (min-width: 40em) {
  .registration {
    width: 440px;
  }
  .content {
    height: 600px;
  }
  input {
    margin-top: 0.7rem;
    
  }
  label {
    font-size: 2rem;
  }
}
