{% extends 'dashboard/dashboardbase.html' %}

{% load static %}

{% block content %}
    <main>
      <div class="dashboard-head"><h2>Dashboard</h2></div>
      <div class= "not-generated"> <!-----when user has not generated-->
        <div class="image">
          <img class="illustration" src="{% static 'images/dashboard/illustration.svg' %}" alt="Logo">
          {% comment %} <h2>You have no generated policy</h2> {% endcomment %}
          <p class="serif">Empower your business, create unique policies and terms of service with just a few clicks.</p>
          <a href="#" class="policy-button">Generate policy</a>
          <div class="popup-container">
            <div class="policy-popup">
              <div class="gen-buttons">
                <a href="termsdashboard/">Terms and Conditions</a>
                <a href="privacypolicydashboard/">Privacy Policy</a>
              </div>
              <p class="close">Close</p>
            </div>
          </div>
          
            
        </div>
      </div>
     
        <div class="generated"><!---When user has generated-->
          <div class="overflow">
            <div class="boxes">
              <div class="box">
                <div class="circle"><img src="{% static 'images/termslogo.svg' %}" alt="termslogo"></div>
                <h2>Terms and conditions</h2>
                <a href=" {% url 'termsdashboard' %}" class ="gen-btn">
                  Generate
                </a>
                </div>
              <div class="box">
                <div class="circle"><img src="{% static 'images/privacylog.svg' %}" alt="privacylogo"></div>
                <h2>Privacy Policy</h2>
                 <a href="{% url 'privacypolicydashboard' %}" class ="gen-btn">
                  Generate
                </a>
              </div>
            </div>
            <div class="crud">
            <table>
              <tr>
                <th>Company name</th>
                <th>Type</th>
                <th>URL/Application</th>
                <th>Location</th>
                <th>Date modified</th>
                <th>icon</th>
                <th><img class="kebab" src={% static 'images/dashboard/kebab.svg' %}/></th>
              </tr>
              <tr>
                <td>blaaa</td>
                <td>balll</td>
                <td>bj</td>
                <td>ghgj</td>
                <td>b nb</td>
                <td>lovf</td>
                <td><img class="kebab" src={% static 'images/dashboard/kebab.svg' %}/></td>
              </tr>
            </table>
            <div class="crud-popup">
              <p class="closing">X</p>
              <div class="close-crud">
                
                <a href="#">View</a>
                <a href="#">Delete</a>
                <a href="#">Edit</a>
              </div>
            </div>
          </div>
            {% comment "" %}{% for post in posts %}
            {% for term in terms %}
            {%if user.username == post.author.username %} 
              <div class="policies">
                <h2>My Policies</h2>
                <table>
                  <tr>
                    <th>Company name</th>
                    <th>Type</th>
                    <th>URL/Application</th>
                    <th>Location</th>
                    <th>Date modified</th>
                    
                  </tr>
                  <tr>
                    <td>{{post.app_name}}</td>
                    <td>{{post.type_form}}</td>
                    <td>{{post.companyURL}}</td>
                    <td>{{post.location}}</td>
                    <td>{{post.created_at}}</td>
                  
                  </tr>
                  {%endif%}
                  {%if user.username == term.author.username %} 
                  <tr>
                    <td>{{term.app_name}}</td>
                    <td>{{term.type_form}}</td>
                    <td>{{term.companyURL}}</td>
                    <td>{{term.location}}</td>
                    <td>{{term.created_at}}</td>
                   
                  </tr>
                  
                </table>
              </div>
              </div>
        </div>
        {%endif%}
        {%endfor%}
        {%endfor%}{% endcomment %}

    </main>
    <script>
        
      
      const policyBtn = document.querySelector(".policy-button"); 
          const policyPopup = document.querySelector(".popup-container");
          const close = document.querySelector(".close");
          
          close.addEventListener('click', function() {
            policyPopup.style.display = "none";
            header.style.backgroundColor = '#fff';
          });
          
          policyBtn.addEventListener("click", function(event) {
            event.preventDefault();
            policyPopup.style.display = "block";
            //header.style.backgroundColor = 'rgba(21, 17, 17, 0.61)';
          });
    
        /* kebab */

        const kebab = document.querySelectorAll(".kebab");
        const crud = document.querySelector(".crud");
        const crudpopup = document.querySelector(".crud-popup");
        const closing = document.querySelector(".closing");

        for(let i = 0; i < kebab.length; i++) {
          kebab[i].addEventListener("click", function() {
            crudpopup.style.display="block";
            
          });
        }

        closing.addEventListener("click", function(e) {
          
          crudpopup.style.display="none";
        })


    </script>

    
{% endblock content %}