{% extends 'dashboard/dashboardbase.html' %}

{% load static %}

{% block content %}
    <main>
      <div class="dashboard-head"><h2>Dashboard</h2></div>
      <div class= "not-generated"> <!-----when user has not generated-->
        <div class="image">
          <img class="illustration" src="{% static 'images/dashboard/illustration.svg' %}" alt="Logo">
          {% comment %} <h2>You have no generated policy</h2> {% endcomment %}
          <p>Empower your business, create unique policies and terms of service with just a few clicks.</p>
          <a href="#" class="policy-button">Generate policy</a>
          <div class="popup-container">
            <div class="policy-popup">
              <div class="gen-buttons">
                <a href="termsdashboard/">Terms and Conditions</a>
                <a href="privacypolicydashboard/">Privacy Policy</a>
              </div>
              <p class="close">Close</p>
            </div>
          </div>
          
            
        </div>
      </div>
     
        <div class="generated"><!---When user has generated-->
          <div class="overflow">
            <div class="boxes">
              <div class="box">
                <div class="circle"><img src="{% static 'images/termslogo.svg' %}" alt="termslogo"></div>
                <h2>Terms and conditions</h2>
                <button class ="gen-btn">
                  Generate
                </button>
                </div>
              <div class="box">
                <div class="circle"><img src="{% static 'images/privacylog.svg' %}" alt="privacylogo"></div>
                <h2>Privacy Policy</h2>
                 <button class ="gen-btn">
                  Generate
                </button>
              </div>
            </div>
            {% for post in posts %}
            {% for term in terms %}
            {%if user.username == post.author.username %} 
              <div class="policies">
                <h2>My Policies</h2>
                <table>
                  <tr>
                    <th>Company name</th>
                    <th>Type</th>
                    <th>URL/Application</th>
                    <th>Location</th>
                    <th>Date modified</th>
                    
                  </tr>
                  <tr>
                    <td>{{post.app_name}}</td>
                    <td>{{post.type_form}}</td>
                    <td>{{post.companyURL}}</td>
                    <td>{{post.location}}</td>
                    <td>{{post.created_at}}</td>
                  
                  </tr>
                  {%endif%}
                  {%if user.username == term.author.username %} 
                  <tr>
                    <td>{{term.app_name}}</td>
                    <td>{{term.type_form}}</td>
                    <td>{{term.companyURL}}</td>
                    <td>{{term.location}}</td>
                    <td>{{term.created_at}}</td>
                   
                  </tr>
                  
                </table>
              </div>
              </div>
        </div>
        {%endif%}
        {%endfor%}
        {%endfor%}

    </main>
    <script>
        
      
      const policyBtn = document.querySelector(".policy-button"); 
          const policyPopup = document.querySelector(".popup-container");
          const close = document.querySelector(".close");
          
          close.addEventListener('click', function() {
            policyPopup.style.display = "none";
            header.style.backgroundColor = '#fff';
          });
          
          policyBtn.addEventListener("click", function(event) {
            event.preventDefault();
            policyPopup.style.display = "block";
            //header.style.backgroundColor = 'rgba(21, 17, 17, 0.61)';
          });
    
        
        


    </script>

    
{% endblock content %}