{% extends 'dashboard/dashboardbase.html' %}

{% load static %}

{% block content %}
    <main>
      
      <div class="dashboard-head"><h2>Dashboard</h2></div>
      <div class= "not-generated"> <!-----when user has not generated-->
        <div class="image">
          <img class="illustration" src="{% static 'images/dashboard/illustration.svg' %}" alt="Logo">
           {% comment %} <h2>You have no generated policy</h2>  {% endcomment %}
          <p class="serif">Empower your business, create unique policies and terms of service with just a few clicks.</p>
          {% comment %} {% for term in terms %}
          <p>
             1 posts <br />
             {{user.email }} 1 <br />
             {{term.author}} 1 <br />
             {%if user.email == term.author.email %} <br />
             {{user.email }} 2 <br />
             {{term.author.email}} 2 <br />
             {%endif%}
          </p>
             {%endfor%} {% endcomment %}
          <a href="#" class="policy-button">Generate policy</a>

          <div class="popup-container">
            <div class="policy-popup">
              <div class="gen-buttons">
                <a href="termsdashboard/">Terms and Conditions</a>
                <a href="privacypolicydashboard/">Privacy Policy</a>
              </div>
              <p class="close">Close</p>
            </div>
          
          </div>
         
        </div>
      </div>

        <div class="generated"><!---When user has generated-->
          <div class="overflow">
            <div class="boxes">
              <div class="box">
                <div class="circle"><img src="{% static 'images/termslogo.svg' %}" alt="termslogo"></div>
                <h2>Terms and conditions</h2>
                <a href=" {% url 'termsdashboard' %}" class ="gen-btn">
                  Generate
                </a>
                </div>
              <div class="box">
                <div class="circle"><img src="{% static 'images/privacylog.svg' %}" alt="privacylogo"></div>
                <h2>Privacy Policy</h2>
                 <a href="{% url 'privacypolicydashboard' %}" class ="gen-btn">
                  Generate
                </a>
              </div>
            </div>
          
            <div class="crud">
              <h2 style="margin-left:20px">My Policies</h2>
            <table>
              <tr>
                <th>Company name</th>
                <th>Type</th>
                <th>URL/Application</th>
                <th>Location</th>
                <th>Date modified</th>
                <th>icon</th>
                <th><img class="kebab" src="{% static 'images/dashboard/threedot.svg' %}"/></th>
              </tr>
              {% for post in posts %}
             
              {%if user.email == post.author.email %} 
            
              <tr>
                <td>{{post.app_name}}</td>
                <td>{{post.type_form}}</td>
                <td>{{post.companyURL}}</td>
                <td>{{post.location}}</td>
                <td>{{post.created_at}}</td>
                <td style='color':"#D59F00">policy</td>
                <td><div class="crud-popup">
                 
                   
                    <a href="/policypreview/1/{{post.id}}">View</a>
                    <a href="/delete-post/1/{{post.id}}">Delete</a>
                    <a href="/edit-post/1/{{post.id}}">Edit</a>
                 
                </div></td>
              </tr>
              {%endif%}
              {%endfor%}
               {% for term in terms %}
             
               {%if user.email == term.author.email %} 
              <tr>
                <td>{{term.app_name}}</td>
                <td>{{term.type_form}}</td>
                <td>{{term.companyURL}}</td>
                <td>{{term.location}}</td>
                <td>{{term.created_at}}</td>
                <td style="color: #198038;">term</td>
                <td>
                  <div class="crud-popup {{term.id}}">
                  
                  
                   
                    <a href="/policypreview/2/{{term.id}}">View</a>
                    <a href="/delete-post/2/{{term.id}}">Delete</a>
                    <a href="/edit-post/2/{{term.id}}">Edit</a>
                  </div>
                </div></td>
              </tr>
              {%endif%}
              {%endfor%} 
            </table>
           
           
          </div>
          
    </main>
    <script>
        
      
      const policyBtn = document.querySelector(".policy-button"); 
          const policyPopup = document.querySelector(".popup-container");
          const close = document.querySelector(".close");
          
          close.addEventListener('click', function() {
            policyPopup.style.display = "none";
            header.style.backgroundColor = '#fff';
          });
          
          policyBtn.addEventListener("click", function(event) {
            event.preventDefault();
            policyPopup.style.display = "block";
            //header.style.backgroundColor = 'rgba(21, 17, 17, 0.61)';
          });
    
        /* kebab */
         
    // const kebab = document.querySelectorAll(".kebab");
    //    const crud = document.querySelector(".crud");
        {% comment %} let crudpopup = document.getElementsByClassName("kebab");
     //   const closing = document.querySelector(".closing");
     

       for(var i = 0; i < crudpopup.length; i++){
        let display = document.getElementsByClassName("kebab").style.color;
        crudpopup[i].addEventListener("mouseover",function(){
          
          console.log("clicked")
          if(display === "flex")
          {
            this.style.color = "none"

          }
        
        })
       }
       const kebab = document.getElementsByClassName("kebab");
       for(var i = 0; i < kebab.length; i++){
        kebab[i].addEventListener("mouseover",function(){
          console.log("clicked")
         this.classList.add("transparent")
        })
       } {% endcomment %}
        {% comment %} closing.addEventListener("click", function(e) {
          
          crudpopup.style.display="none";
        })
       let crudpopup = document.querySelector(".crud-popup");
        function showMsg()
        {
          crudpopup.style.display="block";
        }   {% endcomment %}

    </script>

    
{% endblock content %}