{% extends 'dashboard/dashboardbase.html' %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/dashboard/privpolicydash.css' %}">

{% endblock extrahead %}

{% block title %}Privacy Policy Dashboard{% endblock title %}

{% block content %}
<div class="content">
  <h2>Progress</h2>
  <div class="progress">
    <div class="progress-head">
      <p class="first"><span class="step1">Step 1 - </span>User Information</p>
      <p style="display: none;" class="second"><span class="step2">Step 2 - </span>Choose Clauses</p>
      <p style="display: none;" class="third"><span class="step3">Step 3 - </span>Generate Document</p>
    </div>
    <div class="save-prev">
      <button class="save">Save</button>
      <button class="preview">Preview</button>
    </div>
  </div>

  <form method="post">
    {% csrf_token %}
      <section class="viewport">
          <div class="unique">

              <div class="form-group type">
                <label>
                  {% comment %} <input 
                  type="checkbox" name="user" value="website" class="input-checkbox"/> {% endcomment %}
                  {{form.is_website}}
                  Website
                </label>
                <label>
                  {% comment %} <input type="checkbox" name="user" value="application" class="input-checkbox"/> {% endcomment %}
                  {{form.is_application}}
                  Application
                </label>
              </div>

          </div>

          <div class="unique bus">

              <h3>Business Details</h3>
              <div class="form-group business column">
                <label for="policyenterprise">Company/Website/Application name</label>
                {% comment %} <input type="text" name="policyenterprise" placeholder="My Company name" required/> {% endcomment %}
                  {{form.app_name}}
                <label for="policyurl">Company URL</label>
                {% comment %} <input type="url" name="policyurl" placeholder="http://www.mycompanyname.com" required/> {% endcomment %}
                  {{form.companyURL}}
                <label for="policylocation">Location &#40;State/Country&#41; </label>
                {% comment %} <input type="text" name="policylocation" placeholder="E.g Lagos/Nigeria" required/> {% endcomment %}
                  {{form.location}}
                <label for="policydate">Policy Effective Date</label>
                {% comment %} <input type="date" name="policydate" placeholder="E.g Lagos/Nigeria" required/> {% endcomment %}
                {{form.policy_date}}
              </div>
              <button class="progress-btn">Next:Choose clauses</button>

          </div>

          
          
      </section>
      <section class="viewport">
        <div class="unique">
          <h3>Let's continue building your privacy policy</h3>
          
          <div class="form-group information column">

              <h3>What kind of personal information do you collect from users?</h3>
              <label>
                  {% comment %} <input type="checkbox" name="info" value="email" class="input-checkbox"/> {% endcomment %}
                  {{form.is_email_collected}}
                  Email Address
              </label>

              <label>
              {% comment %} <input type="checkbox" name="info" value="firstandlastname" class="input-checkbox"/> {% endcomment %}
              {{form.is_first_name_collected}}
              First name and last name
              </label>

              <label>
              {% comment %} <input type="checkbox" name="info" value="phone" class="input-checkbox"/> {% endcomment %}
              {{form.is_phonenumber_collected}}
              Phone number
              </label>

              <label>
              {% comment %} <input type="checkbox" name="info" value="address" class="input-checkbox"/> {% endcomment %}
              {{form.is_address_collected}}
              Address, state, city, zip/postal code
              </label>

              <label>
              {% comment %} <input type="checkbox" name="info" value="socials" class="input-checkbox"/> {% endcomment %}
              {{form.is_social_collected}}
              Social medial profile information
              </label>

              <label>
              {% comment %} <input type="checkbox" name="info" value="others" class="input-checkbox"/> {% endcomment %}
              {{form.is_others_collected}}
              Others
              </label>

              {% comment %} <input type="text" name="add-other" placeholder="Add Your Own" /> {% endcomment %}
                {{form.your_other_collected}}
          </div>
          
          
          <div class="form-group yesorno column">
            <h3>Do you use tracking or analytics tool such as Google Analytics?</h3>
            <label>
              {{form.analytic}}
              {% comment %} <input type="radio" name="trackinfo" value="tracking" class="input-radio"/>
              Yes, we use tracking or analytics tools
            </label>
            <label>
              <input type="radio" name="trackinfo" value="notracking" class="input-radio"/>
              No {% endcomment %}
            </label>

          </div>

          <div class="form-group yesorno column">
            <h3>Do you send emails to your users?</h3>
            <label>
              {{form.email_to_user}}
              {% comment %} <input type="radio" name="emailinfo" value="email" class="input-radio"/>
              Yes, we send emails to our users if subscribed to
            </label>
            <label>
              <input type="radio" name="emailinfo" value="noemail" class="input-radio"/>
              No {% endcomment %}
            </label>

          </div>

          <div class="form-group yesorno column">
            <h3>Does your website display Ads?</h3>
            <label>
              {{form.display_ads}}
              {% comment %} <input type="radio" name="adinfo" value="ads" class="input-radio"/>
              Yes, we show ads
            </label>
            <label>
              <input type="radio" name="adinfo" value="noads" class="input-radio"/>
              No {% endcomment %}
            </label>

          </div>

          <div class="form-group yesorno column">
            <h3>Can user pay for product and services on your website?</h3>
            <label>
              {{form.pay_for_service}}
              {% comment %} <input type="radio" name="payinfo" value="pay" class="input-radio"/>
              Yes, users can pay for products and services on our website
            </label>
            <label>
              <input type="radio" name="payinfo" value="nopay" class="input-radio"/>
              No {% endcomment %}
            </label>

          </div>

          <div class="form-group yesorno column">
            <h3>Do you collect information from kids under the age of 13?</h3>
            <label>
              {{form.collect_information_from_kids}}
              {% comment %} <input type="radio" name="kidinfo" value="kid" class="input-radio"/>
              Yes, we collect information from kids under the age of 13.
            </label>
            <label>
              <input type="radio" name="kidinfo" value="nokid" class="input-radio"/>
              No {% endcomment %}
            </label>

          </div>

          <div class="form-group user-contact column">
            <h3>How can users contact you for any concerns regarding your privacy policy?</h3>
              <label>
                  {% comment %} <input type="checkbox" name="user-contact" value="mail" class="input-checkbox"/> {% endcomment %}
                  {{form.is_email_contacted}}
                  Email Address
              </label>

              <label>
                {{form.is_website_contacted}}
              {% comment %} <input type="checkbox" name="user-contact" value="web" class="input-checkbox"/> {% endcomment %}
              A page on our website
              </label>

              <label>
                {{form.is_phone_contacted}}
              {% comment %} <input type="checkbox" name="user-contact" value="phonenum" class="input-checkbox"/> {% endcomment %}
              Phone num
              </label>
              

              <label>
              {% comment %} <input type="checkbox" name="user-contact" value="postmail" class="input-checkbox"/> {% endcomment %}
              {{form.is_post_mail_contected}}
              Sending post mail
              </label>

              

          </div>
          <div class="navigate">
            <p>Back</p>
            <button class="next">Next:Generate document</button>
          </div>
        </div>  
          
      </section>
      <section class="viewport">
        <div class="unique">
          <h3>Generate you Privacy Policy</h3>
          <div class="form-group terms column">
            <label>
              {% comment %} <input type="checkbox" name="terminfo" value="agree" class="input-checkbox"/> {% endcomment %}
              {{form.is_i_agree}}
              I agree to the Policify Terms and Conditions and Privacy Policy
              </label>

              <label>
              {% comment %} <input type="checkbox" name="terminfo" value="notify" class="input-checkbox"/> {% endcomment %}
              {{form.is_notify_me}}
              Notify me of Policify policy updates.
              </label>
          </div>
          <div class="navigate">
            <p>Back</p>
            <button type="submit" class="next">Next:Generate document</button>
          </div>
        </div>
        
          
      </section>
      
  </form>
</div>
{% endblock content %}
