{% extends 'dashboard/dashboardbase.html' %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/dashboard/termscondash.css' %}">

{% endblock extrahead %}

{% block title %}Terms and conditions Dashboard{% endblock title %}

{% block content %}

<div class="content">
    <div id="progress"><!-- changes -->
      <h2 class="directory">Terms and conditions/User Information</h2>
      <h2 class="directory">Terms and Conditions/Choose Clauses</h2>
      <h2 class="directory">Terms and conditions/Generate Document</h2>
     <div>
    <h2 class="prog">Progress</h2>
    <div class="progress"><!-- changes -->
      <div class="progress-head">
        <p class="step-head opened-tab"><span class="step1 steps opened-step">Step 1 of 3 - </span>User Information</p>
        <p class="step-head "><span class="step2 steps" >Step 2 of 3 - </span>Choose Clauses</p>
        <p class="step-head "><span class="step3 steps">Step 3 of 3 - </span>Generate Document</p>
      </div>
      <div class="save-prev">
        <button class="save">Save</button>
        <button class="preview">Preview</button>
      </div>
    </div>
  
    <form>
        <section class="viewport default-open">
            <div class="unique">
  
                <h3>Where do you want to use this document?</h3>
                <div class="form-group type">
                  <label>
                    <input type="checkbox" name="user" value="website" class="input-checkbox"/>Website
                  </label>
                  <label>
                    <input type="checkbox" name="user" value="application" class="input-checkbox"/>Application
                  </label>
                </div>
  
            </div>
  
            <div class="unique bus">
  
                <h3>Business Details</h3>
                <div class="form-group business column">
                  <label for="policyenterprise">Company/Website/Application name</label>
                  <input type="text" name="policyenterprise" placeholder="My Company name" required/>
  
                  <label for="policyurl">Company URL</label>
                  <input type="url" name="policyurl" placeholder="http://www.mycompanyname.com" required/>
  
                  <label for="policylocation">Location &#40;State/Country&#41; </label>
                  <input type="text" name="policylocation" placeholder="E.g Lagos/Nigeria" required/>
  
                  <label for="policydate">Policy Effective Date</label>
                  <input type="date" name="policydate" placeholder="E.g Lagos/Nigeria" required/>
                </div>
                <button class="progress-btn move-tab">Next:Choose clauses</button> <!--changes-->
  
            </div>
  
            
            
        </section>
        <section class="viewport">
          <div class="unique">
            <h3>Let's continue building your privacy policy</h3>
            
            
            
            
            <div class="form-group yesorno column">
              <h3>Can users create account?</h3>
              <label>
                <input type="radio" name="user-account" value="account" class="input-radio"/>
                Yes, users can create account
              </label>
              <label>
                <input type="radio" name="user-account" value="noaccount" class="input-radio"/>
                No
              </label>
  
            </div>
  
            <div class="form-group yesorno column">
              <h3>Can users create and/or upload content, that is text or images?</h3>
              <label>
                <input type="radio" name="user-content" value="content" class="input-radio"/>
                Yes, users can create and/or upload content
              </label>
              <label>
                <input type="radio" name="user-content" value="nocontent" class="input-radio"/>
                No
              </label>
  
            </div>
  
            <div class="form-group yesorno column">
              <h3>Do you offer on website/in-app purchases?</h3>
              <label>
                <input type="radio" name="user-purchase" value="purchase" class="input-radio"/>
                Yes, we offer website/in-app purchases?
              </label>
              <label>
                <input type="radio" name="user-purchase" value="nopurchase" class="input-radio"/>
                No
              </label>
  
            </div>
  
            <div class="form-group yesorno column">
              <h3>Does your website/app display Ads?</h3>
              <label>
                <input type="radio" name="ads" value="ad" class="input-radio"/>
                Yes, we show ads
              </label>
              <label>
                <input type="radio" name="ads" value="noad" class="input-radio"/>
                No, we offer free services
              </label>
  
            </div>
  
            <div class="form-group yesorno column">
              <h3>Can user buy goods&#40;products or items&#41;?</h3>
              <label>
                <input type="radio" name="user-buy" value="buy" class="input-radio"/>
                Yes, user can buy goods
              </label>
              <label>
                <input type="radio" name="user-buy" value="nobuy" class="input-radio"/>
                No
              </label>
  
            </div>

            <div class="form-group yesorno column">
              <h3>Do you offer subscription plans?</h3>
              <label>
                <input type="radio" name="user-sub" value="sub" class="input-radio"/>
                Yes, user can buy goods
              </label>
              <label>
                <input type="radio" name="user-sub" value="nosub" class="input-radio"/>
                No
              </label>
  
            </div>

            <div class="form-group yesorno column">
              <h3>Do you want to make it clear that your own content is your exclusive property?</h3>
              <label>
                <input type="radio" name="trademark" value="clarity" class="input-radio"/>
                Yes, our content &#40;logo and trademarks&#41; is our exclusive property
              </label>
              <label>
                <input type="radio" name="trademark" value="noclarity" class="input-radio"/>
                No
              </label>
  
            </div>
  
            <div class="form-group user-contact column">
              <h3>How can users contact you for any concerns regarding your privacy policy?</h3>
                <label>
                    <input type="checkbox" name="user-contact" value="mail" class="input-checkbox"/>
                    Email Address
                </label>
  
                <label>
                <input type="checkbox" name="user-contact" value="web" class="input-checkbox"/>
                A page on our website
                </label>
  
                <label>
                <input type="checkbox" name="user-contact" value="phonenum" class="input-checkbox"/>
                Phone num
                </label>
                
  
                <label>
                <input type="checkbox" name="user-contact" value="postmail" class="input-checkbox"/>
                Sending post mail
                </label>
  
                
  
            </div>
            <div class="navigate">
              <p class="back">Back</p>
              <button class="next move-tab">Next:Generate document</button><!--changes-->
            </div>
          </div>  
            
        </section>
        <section class="viewport">
          <div class="unique">
            <h3>Generate you Privacy Policy</h3>
            <div class="form-group terms column">
              <label>
                <input type="checkbox" name="terminfo" value="agree" class="input-checkbox"/>
                I agree to the Policify Terms and Conditions and Privacy Policy
                </label>
  
                <label>
                <input type="checkbox" name="terminfo" value="notify" class="input-checkbox"/>
                Notify me of Policify policy updates.
                </label>
            </div>
            <div class="navigate">
              <p class="back">Back</p><!-- changes -->
              <button class="next" type="submit">Next:Generate document</button>
            </div>
          </div>
          
            
        </section>
        
    </form>
  </div>
<script>
  const viewport = document.querySelectorAll('.viewport');

for (let i = 1; i < viewport.length; i++) {
   viewport[i].style.display = "none";
 }
const moveButton  = document.querySelectorAll(".move-button");

const next = document.querySelectorAll(".move-tab");
const progressStep = document.querySelector(".progress-head");
let currentSlide = 0;
let maxSlide = viewport.length;

const prev = document.querySelectorAll(".back"); 

const progress = document.querySelectorAll(".step-head");

const directories = document.querySelectorAll(".directory");

for (let i = 1; i < directories.length; i++) {
  directories[i].style.display = "none";
    }

  for (let i = 1; i < progress.length; i++) {
  progress[i].style.display = "none";
    }
 




for(let i = 0; i < next.length;  i++) {
  next[i].addEventListener('click', function (e) {
    
  e.preventDefault();
  currentSlide++;
  
  for(let i= 0; i < viewport.length; i++) {
    viewport[i].style.display = "none";
  }
  viewport[currentSlide].style.display = "flex";
  
    
    
  
  for(let i= 0; i < progress.length; i++) {
    progress[i].style.display = "none";
  }
  progress[currentSlide].style.display = "block";
    
    for(let i= 0; i < directories.length; i++) {
    directories[i].style.display = "none";
  }
  directories[currentSlide].style.display = "block";
    
    
    
    });
  
  

  
  
   
  
  

  
}

for( let i=0; i < prev.length; i++) {
  prev[i].addEventListener("click", function (e) {
  e.preventDefault();
  
   currentSlide--;
    console.log(maxSlide);
    for(let i= 0; i < viewport.length; i++) {
    viewport[i].style.display = "none";
  }
  viewport[currentSlide].style.display = "flex";
    
    for(let i= 0; i < progress.length; i++) {
    progress[i].style.display = "none";
  }
  progress[currentSlide].style.display = "block";
    
    for(let i= 0; i < directories.length; i++) {
    directories[i].style.display = "none";
  }
  directories[currentSlide].style.display = "block";
    
    });
  
}
</script>

{% endblock content %}