h2 {
    font-size: 1.9rem;
    padding-bottom: 1.5%;
    color: #251B2C;
}
.feedback-form p {
    color: #49414F;
}
.feedback-head p {
    color: #49414F;
    font-size: 1.4rem;
}
.feedback-head {
    padding-top: 90px;
    padding-bottom: 4%;
   line-height: 1.2;
    text-align: center;
}
.client img{
    margin-left: 35%;
}
.feedback-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(320px, 1fr));
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.hide {
    display: none;
}
.see-more {
    padding-top:45px;
    text-align: center;
    font-size: 1.3rem;
    color: #A535F1;
    
}
.feedback {
    
    padding-block: 7%;
    background-color: #F9F9F9;
    margin: 1rem;
    padding-bottom: 8%;
    padding-left: 7%;
    padding-right: 7%;
    border-radius: 6px;
    line-height: 1.3;
    box-shadow: 5px 5px 5px rgba(161, 151, 151, 0.1), -5px -5px 5px rgba(161, 151, 151, 0.1);
    /*color: #49414f;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.3;
}
.feedback-form {
    background-color: #fff;
    padding: 60px 6%;
    
}

form { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    padding: 15% 7%;
    border-radius: 6px;
    background-color: #fff;
    border: 1.2px solid #D2D5DA;
    box-shadow: 5px 5px 5px rgba(161, 151, 151, 0.05), -5px -5px 5px rgba(161, 151, 151, 0.05);

}
label {
    margin-bottom: 4px;
    color: #251B2C;
}
input[type="email"] {
    width: 100%;
    margin-bottom: 22px;
    padding: 17px;
    border-radius: 6px;
    border: 0.02px solid #D2D5DA;
    outline-color: #A535F1;
    outline-width: 1px;
    background-color: #F9F9F9;
   
}
textarea {
    padding: 14px;

    width: 100%;
    margin-bottom: 22px;
    height: 130px;
    border-radius: 6px;
    outline-color: #A535F1;
    border: 0.02px solid #D2D5DA;
    background-color: #F9F9F9;

}
::placeholder {
   
    color: #BBBBBB;
}

input[type="submit"] {

    padding: 13px 25px;
    border-radius: 20px;
    border: none;
    background-color: #A535F1;
    color: #F9F9F9;

}
input[type="submit"]:hover {
    background-color: #6E23A1;

}

input[type="email"]:focus {
    border: 0.02px solid ;
    outline-color: #A535F1;
    

}
.form-header h2{
    margin-bottom: 22px;
    color: #251B2C;
    font-size: 1.6rem;
}
h3 {
    margin-bottom: 22px;
    color: #251B2C;
}

.feedback-stars {
    margin-bottom: 22px;
    font-size: 24px;
    

}
.feedback-star-icon.color {
    color:  #F7A115;
    
}
.feedback-star-icon {
    color:  #BBBBBB;
   
}

@media only screen and (min-width: 860px) {
    .feedback {
        height: 90%;
       
    }

    .feedback-grid {
        width: 80%;
    }
    form {
        width: 50%;
        margin: auto;
        padding: 5% 2%;
    }
    .form-header {
        width: 35%;
        margin: auto;
        padding-bottom: 70px;
    }
    .form-header h2 {
        margin-bottom: 0px;
    }
    .feedback-stars {
        font-size: 32px;
    }
    .feedback-star-icon.color {
        font-size: 32px;
        
    }

}