* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #f9f9f9;
}
.container {
  padding: 1rem 1rem;
}
.section-one {
  margin-bottom: 0%;
}
/* section one starts here */
.top-section {
  display: flex;
  flex-direction: row;
}
.illustration {
  width: 100%;
}
.illustration img {
  display: block;
  margin: 0 auto;
  /* width: 350; */
}
.private-policy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-section-writeup {
  display: block;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}
.header-one {
  padding-bottom: 0.3em;
  font-size: 1.6em;
  color: #111827;
}
.paragraph-one {
  font-size: 1.3em;
  color: #aaaaaa;
}

.wrap {
  white-space: nowrap;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  color: #111827;

  /* margin-bottom: 4em; */
}
/* .button button {
  border: 1px solid #a535f1;
  border-radius: 25px;
  background-color: #a535f1;
  padding: 10px 18px;
} */
.button {
  width: 136px;
  height: 48px;
  border: none;
  background-color: #a535f1;
  border-radius: 25px;
  box-shadow: inset 0 0 0 0 #6e23a1;
  transition: ease-out 0.4s;
  text-align: center;
  vertical-align: middle;
  padding-top: 14px;
}
.button:hover {
  box-shadow: inset 90px 0 0 0 #6e23a1;
  cursor: pointer;
}
.button a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  /* text-align: center; */
}
.template {
  margin-left: 30px;
  font-size: 1.2em;
  color: #111827;
  color: #aaaaaa;
}
/* section one ends here */

/* section two starts here */
.section-two {
  margin-top: 3em;
}

.second-section-writeup {
  /* margin-top: 2em; */

  text-align: center;
}
.header-two {
  padding-top: 1em;
  padding-bottom: 0.3em;
  font-size: 1.6em;
  color: #111827;
}
.paragraph-two {
  color: #aaaaaa;
  font-size: 1.3em;
  padding-top: 0.3em;
  text-align: center;
  word-wrap: break-word;
}
.platforms {
  margin-top: 3em;
}

.platform-one,
.platform-two,
.platform-three {
  height: 280px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(161, 151, 151, 0.1),
    -5px -5px 5px rgba(161, 151, 151, 0.1);
  margin-bottom: 3vh;
  color: #111827;
  background-color: #ffffff;
  margin-left: 2%;
  padding-bottom: 4vh;
}
.choice-platforms {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}
.platform-header {
  font-size: 1.4em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.platform-subhead {
  font-size: 1.2em;
  text-align: center;
  padding: 0 8px;
  color: #aaaaaa;
}
@media screen and (max-width: 50em) {
  /* .container {
    margin: 0.7rem 1rem;
  } */
  .section-one {
    height: 87vh;
    margin-bottom: 0;
  }
  .top-section {
    display: flex;
    flex-direction: column-reverse;
  }
  .top-section-writeup {
    width: 100%;
  }
  .illustration img {
    display: block;
    margin: 0 auto;
    width: 300px;
  }
  .private-policy {
    margin-top: 3vh;
    font-size: 1.2em;
  }
  .paragraph-one {
    font-size: 1em;
    margin-bottom: 5vh;
  }
  .paragraph-one,
  .paragraph-two,
  .platform-subhead {
    color: #49414f;
  }
  .platform-header,
  .preview {
    color: #251b2c;
  }
  .header-one {
    color: #1f1725;
  }
  .links {
    margin-top: 2em;
  }
  .choice-platforms {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
  .platforms {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .platform-one,
  .platform-two,
  .platform-three {
    padding-top: 3vh;
    margin-left: 0;
  }
  .paragraph-one {
    font-size: 0.92em;
  }
  .paragraph-two,
  .platform-subhead,
  .preview {
    font-size: 1.1em;
  }
  .button {
    /* width: 136px;
    height: 48px; */
    width: 100px;
    height: 38px;
    padding-top: 9px;
  }
  .button a {
    font-size: 0.9em;
  }
  .template {
    font-size: 1em;
  }
}
