{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/registration/login.css' %}" />
    <script
      src="https://kit.fontawesome.com/95eef3000a.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <style>
  
  </style>
  <body>
    <div class="container">
      <div class="content">
        <!-- logo section starts -->
        <div class="logo">
          <img src="{%static 'images/product/Frame 18.svg' %} "alt="logo" />
        </div>
        <!-- logo section ends -->

        <!-- header and sub header starts here -->
        <div class="form-class">
        <div class="writeup">
          <h2 id="header">LOGIN</h2>
          <p id="sub-head">
            Enter your information below to login for our services
          </p>
        </div>
        <!-- header and sub header ends here -->

        <!-- input starts here -->
        <div class="registration">
          <form method="post" >
            {% csrf_token %}
            <div class="input">
              <div class="label">
              </div>
              <div class="email">
               {{form}}
              
               <p id="password-hint">  {{form.email.errors}} </p>
              </div>
            </div>
            <div class="input">
              <div class="label">
                
              </div>
              <div class="password">
                <div class="input-icon">
                
                 
                </div>
                <p id="password-hint">
                  {{form.errors}}
                  Use 8 or more characters with a mix of letters, numbers &
                  symbols
                </p>
              </div>
            </div>
             <button type="submit" value="Login" class="btn">Login </button>
          <div class="last-section">
            <a href="/reset_password"> <p id="forgot-pw">Forgot Password?</p> </a>
            <p id="acct">Don't have an account? <a href="/sign-up">Sign Up</a></p>
          </div>
        </div>
        <!-- input ends here -->

        <!-- OR -->
        
        <!-- icons starts here -->
        
          </form>
        </div>
         
        <!-- icons ends here -->
      </div>
    </div>
  </body>
</html>
