{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href=" {% static 'css/registration/login.css' %}" />
    <script
      src="https://kit.fontawesome.com/95eef3000a.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
</head>
<style>
    body {
      background: url({%static '/images/registration/sign_up/and-machines-vqTWfa4DjEk-unsplash 1.png' %});
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      font-family: "Inter", sans-serif;
      scroll-behavior: smooth;
      -ms-overflow-style: none;
      scrollbar-width: none;
      overflow: hidden;
    }
  </style>
<h3>Password reset</h3>

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

<form method="post">

	{% csrf_token %}
	{{form}}
	<input type="Submit" name="Send email">
	
</form>