{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'css/registration/reset_password.css' %}" />
    <script
      src="https://kit.fontawesome.com/95eef3000a.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
</head>


<body>
  <div class="container">
    <div class="content">
      <!-- logo section starts -->
      <div class="logo">
        <img src="{%static 'images/product/Frame 18.svg' %} "alt="logo" />
      </div>
      <!-- logo section ends -->


      <!-- header and sub header starts here -->
      <div class="form-class">
      <div class="writeup">
        <h2 id="header">FORGOT PASSWORD</h2>
        <p id="sub-head">
          Enter your email below to reset your password
        </p>
      </div>
      <!-- header and sub header ends here -->

      <!-- input starts here -->
      <div class="registration">
        <form method="post">

          {% csrf_token %}
          {{form}}
          <button type="submit" value="Recover password" class="btn">Recover password </button>
          
        </form>

      </div>
       
      <!-- icons ends here -->
    </div>
  </div>
</body>
</html>
