{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PASSWORD RESET COMPLETE</title>
    <link rel="stylesheet" href="{% static 'css/registration/reset_password.css' %}" />
    <script
      src="https://kit.fontawesome.com/95eef3000a.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
</head>

<body>
  <div class="container">
    <div class="content">
      <!-- logo section starts -->
      <div class="logo">
        <img src="{%static 'images/product/Frame 18.svg' %} "alt="logo" />
      </div>
      <!-- logo section ends -->

      <!-- header and sub header starts here -->
      <div class="form-class">
      <div class="writeup">
        <h2 id="header">PASSWORD RESET COMPLETE</h2>
        <p id="sub-head">
            Your password has been set. You  may go ahead and log in now        </p>
      </div>
      <!-- header and sub header ends here -->

      <!-- input starts here -->
      <div class="registration">
        <a href={%url 'login'%}>  <button type="button" value="Login" class="btn">Login </button>


      </div>
       
      <!-- icons ends here -->
    </div>
  </div>
</body>
</html>
