{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block 'title' %}Policify{% endblock 'title' %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/homer.css' %}">

    {% block extrahead %}{% endblock extrahead %}
    <script src="{% static 'js/bases.js' %}" defer></script>
    <script src="https://kit.fontawesome.com/4111ca9f76.js" crossorigin="anonymous"></script>

</head>
<body>
    <!-- Start Header -->
    <header>
        
        <div id ="header">
            <img src="{% static 'images/headerlogo.svg' %}" alt="headerlogo">
            <div class="desktop-navbar">
                <nav class="desktop-navigation">
                    <a href="{% url 'product' %}" class ="nav-item product-dropdown">Products</a>
                    
                    <a href="{% url 'feedback' %}" class ="nav-item">Feedbacks</a>
                    
                    <a href="#faq" class ="nav-item">About Us</a>
                    <a href="{% url 'contact' %}" class ="nav-item">Contact us</a>
        
                </nav>
                {% if user.is_authenticated%}
                <div class="desktop-register-and-login">
                    {% comment "" %}<a class="login-link" href ="/dashboard">{{user.email}}</a>{% endcomment %}
                    <a class="signup-link" href="/logout"> Log out</a>
                </div>
                {%else%}
                <div class="desktop-register-and-login">
                    <a class="login-link" href ="/login">Login</a>
                    <a class="signup-link" href="/sign-up">Sign Up</a>
                </div>
                {% endif %}
    
            </div>
            <div id="hamburger">
                <div class="line1"></div>
                <div class="line2"></div>
            </div>
        </div>
         <!-- Start  Nav Bar -->
        <div class="navbar">
            <nav class="navigation">
                <a href="#products" class ="nav-item product-dropdown">Products</a>
               
                <a href="{% url 'feedback' %}" class ="nav-item">Feedbacks</a>
                <a href="#faq" class ="nav-item">About Us</a>
                <a href="#{% url 'contact' %}" class ="nav-item">Contact us</a>
    
            </nav>
            <div class="register-and-login">
                <a class="login-link" href ="#">Login</a>
                <a class="signup-link" href="#">Sign Up</a>
            </div>

        </div>
        
    
        <!-- End Nav Bar -->
    </header>
    

    <!-- End Header -->



    {% block content %}{% endblock content %}


    <!-- Start Footer-->
<footer id="footer">
    <div class="line"></div>
    <div class="desktop-footer">
        <div class= "footer-line">
            <img class="footer-logo" src="{% static 'images/footerlog.svg' %}">
            <nav class="footer-nav">
                <div class="first">
                    <a href="#" class="product-dropdown">Products</a>
                    <a href="#">Templates</a>
                    <a href="{% url 'feedback' %}">Feedbacks</a>
                    <a href="#">About Us</a>
                </div>
                <div class="second">
                    <a href="#">Contact Us</a>
                    <!--<a href="#">Terms</a>
                    <a href="#">Privacy Policy</a>-->
                </div>
            </nav>
            
        </div>
        <div class="links">
            <a href="#"><img class="dribble-logo" src="{% static 'images/basketball.svg' %}"></a>
            <a href="#"><img class="instagram-logo" src="{% static 'images/instagram.svg' %}"></a>
            <a href="#"><img class="linkedin-logo" src="{% static 'images/linkedin.svg' %}"></a>
            
        </div>
    </div>
    <p>&copy; 2022 Policify. All Rights Reserved.</p>

</footer>

<!-- End Footer-->


</body>
</html>