<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="contact.us.css">
    <title>Contact Us</title>
</head>
<body>
    <div class="main-cont">
        <div class="header">
            <h1 style="text-align: center;color: #251B2C;">CONTACT US</h1>
            <p style="text-align: center;color: #49414F;">We are here to listen to your complaints and we give <br> response immediately</p>
        </div>
        <div class="cont">
            <div class="justify"><img src="./Contact us-amico 1 (1).png" alt="A lady contacting via social media apps" class="img"></div>
            <div class="box">
                <form action="">
                    <label for="name" class="first">Name</label> <br>
                    <input type="text" placeholder="Sarah Connor"> <br>
                    <label for="email">E-mail</label> <br>
                    <input type="email" name="" required id="" placeholder="yinusaomobolanle@gmail.com"> <br>
                    <label for="txtarea">Leave a message</label> <br>
                    <textarea name="" cols="10" rows="5" id="message" placeholder="Type your message"></textarea> <br>
                    <button class="btn">Send message</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>