{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block 'title' %}Policify{% endblock 'title' %}</title>
    <link rel="stylesheet" href="{% static 'css/dashboards.css' %}">
    <script src="{% static 'js/dashboards.js' %}" defer></script>

</head>
<body>
    <div class="navigation">
        
       

        <div class="navs">
            <img class="logo" src="{% static 'images/dashboard/logo.svg' %}" alt="logo">
            <nav>
                <a class="clicks" href="#">Dashboard</a>
                <a class= "clicks" href="#">Terms & Conditions</a>
                <a class="clicks" href="#">Privacy Policies</a>
                <a class="clicks" href="#">Policies</a> 
            </nav>

        </div>

        


    </div>
    <header>
        <div id="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
        </div>
        <img class="logo2" src="{% static 'images/dashboard/logo2.svg' %}" alt="logo">
      <!-- new -->
    
        <p class="dashboard">Dashboard</p>
      
        <div class="user">
            <div class="user2"></div>
            <p class="username">Abby@gmail.com</p>
            <img class="user-dropdown" src="{% static 'images/dashboard/dropdownicon.svg' %}" alt="dropdown">
        </div>
        
        <div class="user-info">
            <div class="closed">
                <p><img src="{% static 'images/dashboard/account.svg' %}" alt="account"></p>
                <div class="user-account"></div>
                <a style="color: black" href="#"><img src="{% static 'images/dashboard/logout.svg' %}" alt="logout"></a>
            </div>

        </div>
        
    </header>
    <main>
      <div class= "not-generated">
        <div class="image">
          <img class="illustration" src="{% static 'images/dashboard/illustration.svg' %}" alt="Logo">
          <h2>You have no generated policy</h2>
          <p>Empower your business, create unique policies and terms of service with just a few clicks.</p>
          <a href="#" class="policy-button">Generate policy</a>
          <div class="popup-container">
            <div class="policy-popup">
              <div class="gen-buttons">
                <a href="#">Terms and Conditions</a>
                <a href="#">Privacy Policy</a>
              </div>
              <p class="close">Close</p>
            </div>
          </div>
          
            
        </div>
      </div>
        
        <div class="generated">
          <div class="overflow">
            <div class="boxes">
              <div class="box">
                <div class="circle"></div>
                <h2>Terms and conditions</h2>
                <p>Policify's terms and conditions generator lets create of service without any stress</p>
              </div>
              <div class="box">
                <div class="circle"></div>
                <h2>Privacy Policy</h2>
                <p>Policify's privacy policy generator helps you generate privacy policies that are concise and covers all information or data collected  clients</p>
              </div>
            </div>
              <div class="policies">
                <h2>My Policies</h2>
                <table>
                  <tr>
                    <th>Company name</th>
                    <th>Type</th>
                    <th>URL/Application</th>
                    <th>Status</th>
                    <th>Date modified</th>
                    <th>icon</th>

                  </tr>
                  <tr>
                    <td>
                    <td>
                  </tr>
                  
                </table>
              </div>
              </div>
        </div>

        <button class="messageicon"><img src="{% static 'images/dashboard/messageicon.svg' %}" alt="cion"></button>
        <div class="popup-form">
          <div class="form">
        
            <span class="eks">X</span>
            <form>
              <label for="name" name="name">Name</label>
              <input type="text" name="name" placeholder="Sarah Connor">
              <label for="email" name="email">Email</label>
              <input type="email" name="email" placeholder="example@email.com">
              <label for="message" name="message">Message</label>
              <textarea name="message" placeholder="Type your message"></textarea>
            </form>
          </div>
       </div>

    </main>
    <script>
        
    
        
        


    </script>

    
</body>

</html>