<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policies</title>
    <link rel="stylesheet" href="{% static 'css/pdf.css' %}">
</head>
<body>
    <div class="preview-contentcripts">
        <h2> Your free Privacy policy</h2>
        <p>Your policy is valid for use on one domain; feel free to edit it as you like. Please review your policies before adding to your website/Application. Policify.io is not liable for use. Do not redistribute.</p>
        <div class="start">
            <p class="date">Last Updated on {{posts.created_at}}</p>
            
            <h2>Consent</h2>
            <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.
                This Privacy notice for {{posts.app_name}} describes how and why we might collect, store, use and/share (process) your information when you use our services.
                Reading this privacy notice will help you understand your privacy rights and choices. If you do not agree with our policies and practices, please do not use our services. If you still have any questions or concerns, please contact us at{{posts.companyURL}}
            </p>
            <h2>Terminologies</h2>
    
            <p>
                The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company's terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client's needs in respect of provision of the Company's stated services, in accordance with and subject to, prevailing laws in Nigeria. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.
        
            </p>
        
            <h2>The Data We Collect About You?
            </h2>
        
            <p>We collect your personal data in order to provide and continually improve our products and services. We may collect, use, store and transfer the following different kinds of personal data about you for marketing and personal data optimization purposes.{{posts.app_name}} also uses Google Digital Marketing to propose targeted offers.
            <p>
            <p>To find out more:</p>
            <ul>
                <li>
                    Information you provide to us:
                    We receive and store the information you provide to us including your identity data, contact data, delivery address, billing address and credit/debit card details.</li>
                </li>
                <li>
                    Information on your use of our website and/or mobile applications:
                    We automatically collect and store certain types of information regarding your use of the {{posts.app_name}} website/app including information about your searches, views, downloads and purchases.
        
                </li>
                <li>
                    Information from third parties and publicly available sources:
                    We may receive information about you from third parties including our carriers; payment service providers; merchants/brands; and advertising service providers.
        
                </li>
            </ul>
            {%if posts.analytic == "Yes, we use tracking or analytics tools"%}
            <div class="cookies">
                <h2>
                    Cookies and How We Use Them
                </h2>
                
                <p>
                    A cookie is a small file of letters and numbers that we put on your computer if you accept the cookies.
                
                </p>
                
                <p>
                    Cookies allow us to distinguish you from other users of our website and mobile applications, which helps us to provide you with an enhanced browsing experience. For example, we use cookies for the following purposes:
                
                </p>
            </div>


            <ul>
                <li>Recognizing and counting the number of visitors and to see how visitors move around the site when they are using it (this helps us to improve the way our website works, for example by ensuring that users can find what they are looking for).
                </li>
                <li>Identifying your preferences and subscriptions e.g. language settings, saved items, items stored in your basket and Prime membership; and
                </li>
                <li>Sending you newsletters and commercial/advertising messages tailored to your interests.
                </li>
            </ul>

            <p>
                Our approved third parties may also set cookies when you use our marketplace. Third parties include search engines, providers of measurement and analytics services, social media networks and advertising companies.
        
            </p>
            {%endif%}
            {%if posts.is_email_collected or posts.is_first_name_collected or posts.is_phonenumber_collected or posts.is_address_collected or posts.is_social_collected or posts.is_others_collected or posts.your_other_collected %}
            <div class="personal-data">
                <h2>How We Share Your Personal Data</h2>
        
                <p>We may need to share your personal data with third parties for the following purposes:</p>
                <ul>
                <li>Sale of products and services:
                In order to deliver your products and services purchased on our marketplace from third parties, we may be required to provide your personal data to such third parties.</li>
                
                <li>Working with third party service providers:
                We engage third parties to perform certain functions on our behalf. Examples include fulfilling orders for products or services, delivering packages, analyzing data, providing marketing assistance, processing payments, transmitting content, assessing and managing credit risk, and providing customer service.</li>
                
                <li>Business transfers  &#40;Mergers and Acquisitions&#41;:
                As we continue to develop our business, we might sell or buy other businesses or services. In such transactions, customer information may be transferred together with other business assets.</li>
                
                <li>Detecting fraud and abuse:
                We release account and other personal data to other companies and organizations for fraud protection and credit risk reduction, and to comply with the law.</li>
                </ul>
        
                <p>When we share your personal data with third parties we:
                
                <ul>
                    <li>require them to agree to use your data in accordance with the terms of this Privacy and Cookie Notice, our Privacy Policy and in accordance with the law; and</li>
                    <li>only permit them to process your personal data for specified purposes and in accordance with our instructions. We do not allow our third-party service providers to use your personal data for their own purposes.</li>
                </ul>
            </div>
                

            <div class="transfer">
                <h2>Offshore Transfers</h2>
    
                <p>We may transfer your personal data to locations in another country, if this is permissible pursuant to applicable laws in your location. There are inherent risks in such transfers.</p>
    
                <p>In the event of international transfers of your personal data, we shall put in place measures necessary to protect your data, and we shall continue to respect your legal rights pursuant to the terms of this Privacy and Cookie Notice and applicable laws in your location</p>
    
                <h2>Embedded contents from unrelated websites</h2>
    
                <p>on this website may include embedded content such as videos, images, or articles. Embedded content from other websites behaves in exactly the same way as if the visitor had visited the other website.</p>
    
            </div>
            {%endif%}
            {%if posts.pay_for_service == "Yes, users can pay for products and services on our website"%}
            <div class="earning">
                <h2>Affiliate Earnings Disclosure</h2>
    
                <p>Some of the links on this website are affiliate links, and that means we may earn a commission if you click or purchase through those links. The price you pay will be the same, but by using our affiliate links you are helping support our website. We genuinely appreciate your support. Thank you!</p>
    
                <h2>Embedded contents from unrelated websites</h2>
    
                <p>Information on this website may include embedded content such as videos, images, or articles. Embedded content from other websites behaves in exactly the same way as if the visitor had visited the other website.</p>
    
                <p>These other websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including analyzing your interaction with the embedded content if you have an account and are logged into that site.</p>
    
            </div>
            {%endif%}
            {%if posts.display_ads == "Yes, we show ads"%}
            <h2>Advertising Partners Privacy Policies</h2>
    
            <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on our website, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
    
            <p>Note that we have no access to or control over these cookies that are used by third-party advertisers.</p>
            {%endif%}
            {%if posts.is_email_collected or posts.is_first_name_collected or posts.is_phonenumber_collected or posts.is_address_collected or posts.is_social_collected or posts.is_others_collected or posts.your_other_collected %}
            <div class="website-embed">
                <h2>Embedded contents from unrelated websites</h2>
    
                <p>Information on this website may include embedded content such as videos, images, or articles. Embedded content from other websites behaves in exactly the same way as if the visitor had visited the other website.</p>
    
                <p>These other websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including analyzing your interaction with the embedded content if you have an account and are logged into that site.</p>
    
            </div>
            {%endif%}
            {%if posts.collect_information_from_kids == "Yes, we collect information from kids under the age of 13."%}
            <div class="children-info">
                <h2>Children's Information</h2>
    
                <p>One of our core priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online act. We do not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
    
            </div>
            {%endif%}
            {%if posts.is_i_agree%}
            <div class="data-security">
                <h2>Data Security</h2>
    
                <p>We have put in place appropriate security measures to prevent your personal data from being accidentally lost, used or accessed in an unauthorised way, altered or disclosed.</p>
    
                <p>In addition, we limit access to your personal data to those employees, agents, contractors and other third parties who have a business need to know. They will only process your personal data on our instructions and they are subject to a duty of confidentiality.</p>
    
                <p>We have put in place procedures to deal with any suspected personal data breach and will notify you and any applicable regulator of a breach where we are legally required to do so.</p>
    
            </div>
            {%endif%}
            <div class="legal-rights">
                <h2>Your Legal Rights</h2>
    
                <p>It is important that the personal data we hold about you is accurate and current. Please keep us informed if your personal data changes during your relationship with us.</p>
    
                <p> Under certain circumstances, you have rights under data protection laws in relation to your personal data, including the right to access, correct or erase your personal data, object to or restrict processing of your personal data, and unsubscribe from our emails and newsletters.</p>
    
            </div>
            <div class="more-deets">
                <h2>Further Details</h2>
    
                <p>If you are looking for more information on how we process your personal data, or you wish to exercise your legal rights in respect of your personal data, please contact{{posts.author}} </p>
            </div>
        </div>
    </div>
</div>       
</body>
</html>