{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pdf.css' %}">
    <title>Privacy Policies</title>
</head>
<body>
    <div class="preview-content">
        <h2> Your free Terms and Conditions</h2>
        <p>Your policy is valid for use on one domain; feel free to edit it as you like. Please review your policies before adding to your website/Application. Policify.io is not liable for use. Do not redistribute.</p>
        <div class="start">
        <p class="date">Last Updated on{{posts.created_at}}</p>
        
        <h2>Introduction</h2>
        <p>These terms govern your use of our site. Please read these terms in full before you use this website. If you do not accept these terms of use, please do not use this website. Your continued use of this site confirms your acceptance of these terms. Please note separate advertising terms and conditions are available upon request. </p>
    
        <h2>&#40;1&#41; Intellectual Property Right</h2>
    
        <p>
            Unless otherwise stated, we or our licensors own the intellectual property rights in the website and material on the website. Subject to the licence below, all our intellectual property rights are reserved.
    
        </p>
    
        <h2>&#40;2&#41; Site Up Time
        </h2>
    
        <p>All reasonable measures are taken by us to ensure that this website is operational all day, every day. However, occasionally technical issues may result in some downtime and accordingly we will not be liable if this website is unavailable at any time.
            Where possible we always try to give advance warning of maintenance issues that may result in website down time but we shall not be obliged to provide such notice.
        <p>
        
        <h2>&#40;3&#41; License To Use Website</h2>
    
        <p>
            You may view, download for caching purposes only, and print pages from the website, provided that: 
        </p>
        
        <ol>
            <li>
                You must not republish material from this website &#40;including republication on another website&#41;, or reproduce or store material from this website in any public or private electronic retrieval system. (Though we encourage fair use for academic / non-commercial purposes)
           </li>
            <li>
                You must not reproduce duplicate, copy, sell, resell, visit, or otherwise exploit our website or material on our website for a commercial purpose, without our express written consent.
    
            </li>
            <li>
                You must not use information obtained from this website to harass, threaten, abuse or harm anyone.
    
            </li>
            <li>
                You must not engage in unauthorised framing of or linking to the site.
    
            </li>
        </ul>
        <div class="submissions">
            <h2>
                &#40;4&#41; Submissions
            </h2>
            
            <p>
                You acknowledge and agree that any questions, comments, suggestions, ideas, feedback, or other information regarding the Site provided by you to us are non-confidential and shall become our sole property. We shall own exclusive rights, including all intellectual property rights, and shall be entitled to the unrestricted use and dissemination of these submissions. You agree that such submission are original and emanate from you, you also agree there shall be no recourse against us for any alleged or actual infringement or misappropriation of any proprietary right in your submissions.
           
            </p>
            
            
        </div>
    
    
        <h2>&#40;5&#41; Forum Posting / Comments</h2>
        <ul>
            <li>You must not use our website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website.
            </li>
    
            <li>You must not use our website in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.
            </li>
    
            <li>You must not use our website for any purposes related to marketing without our express written consent. You must not use our website to copy, publish or send mass mailings or spam.
            </li>
    
            <li>
                You must not use our website to copy, publish or send material which is illegal or unlawful, or material which could give rise to legal action under English and other applicable law. All material you copy, publish or send via our website must not be defamatory, obscene, indecent, hateful, discriminatory or inflammatory; such material must not infringe any person's intellectual property rights or rights of confidence, impinge upon any person's privacy, or constitute incitement to commit a crime; further, material must not be misleading, deceptive, pornographic, threatening, abusive, harassing or menacing.
    
            </li>
    
               <li> We reserve the right to edit or remove any material posted upon our website.</li>
            <li>
                We may take such action as we deem appropriate to deal with the posting of unsuitable material, including suspending or cancelling your account, restricting your access to our website, or commencing legal proceedings against you.
    
            </li>
        </ul>
        
        <div class="site-management">
            <h2>&#40;6&#41; Site Management</h2>
    
            <p>We reserve the right, but not the obligation, to:</p>
            <ol>
            <li> Monitor the Site for violations of these Terms of Use; </li>        
            <li>take appropriate legal action against anyone who, in our sole discretion, violated the law of these Terms of Use, including without limitation, reporting such user to law enforcement authorities ,</li>
            
            <li> in our sole discretion and without limitation, refuse, restrict access to, limit the availability of, or disable to the extent technologically feasible of any of your contributions or any part thereof</li>
                
            <li> in our sole discretion and without limitation, notice or liability, to remove from the site or otherwise disable all files and content that are excessive in size or are in any way burdensome to our systems and </li>
    
            <li>
                otherwise manage the site in a manner designed to protect our rights and property and to facilitate the proper functioning of the site.
            </li>
    
        </div>
        <div class="terms">
            <h2>&#40;7&#41; Term and Termination</h2>
    
            <p>
                These Terms of Use shall remain in full force and effect while you use the site. Without limiting another provision of these terms of Use, we reserve the right to, in our sole discretion and without notice or liability, deny access to and use of the site (including blocking certain IP addresses), to any person for any reason or for no reason, including without limitation for breach of any representation, warranty, or covenant contained in these Terms of Use or of any applicable law or regulation, we may terminate your use or participation in the site or delete content or information that you posted at any time, without warning, in our sole discretion.
            </p>
    
    
        </div>
    
        <div class="law">
            <h2>&#40;8&#41; Governing Law</h2>
            <p>These Terms shall be governed by and defined following the laws of contract and you consent that the Nigeria Judiciary shall have exclusive jurisdiction to resolve any dispute which may arise in connection with these terms.</p>
        </div>
    
        <div class="corrections">
            <h2>&#40;9&#41; Corrections</h2>
            <p>
                There may be information on the site that contains typographical errors, inaccuracies or omissions including descriptions, pricing, availability, and various other information. We reserve the right to correct any errors, inaccuracies, or omissions and to change or update the information on the Site at any time, without prior notice.
            </p>
        </div>
    
        <div class="limitations">
            <h2>&#40;10&#41; Limitation of Liability</h2>
    
            <p>
                IN NO EVENT WILL WE OR OUR DIRECTORS, EMPLOYEES, OR AGENT BE LIABLE TO YOYU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES INCLUDING LOST PROFIT, LOST REVENUE, LOSS OF DATA, OR OTHER DAMAGES ARISING FROM YOUR USE OF THE SITE, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, OUR LIABILITY TO YOU FOR ANY CAUSE WHATSOEVER AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO THE LESSER OF THE AMOUNT PAID, IF ANY, BY YOU TO US
            </p>
        </div>
        
            <div class="contact">
                <h2>&#40;10&#41; Contact</h2>
    
                <p>In order to resolve a complaint regarding the Site or to receive further information regarding use of the site, please contact us at{{posts.author}} </p>
                </div>
        </div>
    </div>      
</body>
</html>