{% extends 'base.html' %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/ppp.css' %}">

{% endblock extrahead %}

{% block content %}
    <div class="container">
      <!-- first section starts here -->
      <div class="section-one">
        <div class="top-section">
          <div class="illustration2">
            <img src="{% static 'images/ppp/amico.svg'%}" alt="illustration" />
          </div>
          <div class="private-policy">
            <div class="top-section-writeup">
              <h3 class="header-one">Privacy Policy</h3>
              <p class="paragraph-one">
                Generate privacy policy for your websites in minutes. Optimized
                for <span class="wrap">e-commerce,</span> marketplace, SaaS,
                apps and more.
              </p>
            </div>
          </div>
        </div>
        <div class="linkse">
          <div class="button">
            <a href="{% url 'dashboard' %}">Generate</a>
          </div>
          <div class="template">
            <p class="preview">Preview template</p>
          </div>
        </div>
      </div>
      <!-- first section ends here -->

      <!-- second section starts here -->
      <div class="section-two">
        <div class="second-section-writeup">
          <h2 class="header-two">Select your platform to get started</h2>
          <p class="paragraph-two">
            Select your platform to generate an industry standard and business
            compliant privacy policy for your platform.
          </p>
        </div>

        <div class="platforms">
          <div class="choice-platforms">
            <div class="platform-one">
              <div class="icons">
                <img src="{% static 'images/ppp/website.svg'%}" alt="" width="40" />
              </div>
              <div class="platform-writeup">
                <h5 class="platform-header">Website</h5>
                <p class="platform-subhead">
                  Your clients like to read easily understandable and relevant
                  articles. Our website helps generate similar legal documents.
                </p>
              </div>
            </div>
            <div class="platform-two">
              <div class="icons">
                <img src="{% static 'images/ppp/e-commerce.svg'%}" alt="" width="40" />
              </div>
              <div class="platform-writeup">
                <h5 class="platform-header">E-commerce</h5>
                <p class="platform-subhead">
                  Help your customers shop with confidence, with a
                  <span class="wrap">plain-speaking</span> Privacy Policy.
                </p>
              </div>
            </div>
            <div class="platform-three">
              <div class="icons">
                <img src="{% static 'images/ppp/mobile.svg'%}" alt="" width="40" />
              </div>
              <div class="platform-writeup">
                <h5 class="platform-header">Mobile App</h5>
                <p class="platform-subhead">
                  Developing an App for IOS or Android? Generate a unique custom
                  Privacy Policy for your app with a few steps.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <!-- second section ends here -->
    </div>
    <div class="popup-background">
      <div class="popup-container">
        <div class="cancel-image">
          <img src="./images/close-circle.png" alt="" />
        </div>
        <div class="custom-writeup">
          <img class="eks-btn" src="{% static 'images/dashboard/eks.svg' %}"/>
          <div class="update">
            <p class="update-text">Last Updated on …………………</p>
          </div>
          <div class="consent">
            <p class="header">Consent.</p>
            <p class="sub-head">
              By using our website, you hereby consent to our Privacy Policy and
              agree to its terms. This Privacy notice for (name of company)
              describes how and why we might collect, store, use and/share
              (process) your information when you use our services. <br />
              Reading this privacy notice will help you understand your privacy
              rights and choices. If you do not agree with our policies and
              practices, please do not use our services. If you still have any
              questions or concerns, please contact us at ………………
            </p>
          </div>
          <div class="consent">
            <p class="header">Terminologies.</p>
            <p class="sub-head">
              The following terminology applies to these Terms and Conditions,
              Privacy Statement and Disclaimer Notice and all Agreements:
              “Client”, “You” and “Your” refers to you, the person log on this
              website and compliant to the Company's terms and conditions. “The
              Company”, “Ourselves”, “We”, “Our” and “Us”, refers to our Company.
              “Party”, “Parties”, or “Us”, refers to both the Client and
              ourselves. All terms refer to the offer, acceptance and
              consideration of payment necessary to undertake the process of our
              assistance to the Client in the most appropriate manner for the
              express purpose of meeting the Client's needs in respect of
              provision of the Company's stated services, in accordance with and
              subject to, prevailing laws in Nigeria. Any use of the above
              terminology or other words in the singular, plural, capitalization
              and/or he/she or they, are taken as interchangeable and therefore as
              referring to same.
            </p>
          </div>
          
        </div>
      </div>
  </p>

  <script>
    const preview = document.querySelector(".preview");
    const eks = document.querySelector(".eks-btn");
    const popup = document.querySelector(".popup-container");

    preview.addEventListener("click", function(){
        popup.style.display ="block";
    });

    eks.addEventListener("click", function(){
      popup.style.display ="none";
    });

  </script>
  
{% endblock content %}