<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Privacy Policy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <!-- first section starts here -->
      <div class="section-one">
        <div class="top-section">
          <div class="illustration">
            <img src="./images/amico.svg" alt="illustration" />
          </div>
          <div class="private-policy">
            <div class="top-section-writeup">
              <h3 class="header-one">Privacy Policy</h3>
              <p class="paragraph-one">
                Generate privacy policy for your websites in minutes. Optimized
                for <span class="wrap">e-commerce,</span> marketplace, SaaS,
                apps and more.
              </p>
            </div>
          </div>
        </div>
        <div class="links">
          <div class="button">
            <a href="#">Generate</a>
          </div>
          <div class="template">
            <p class="preview">Preview template</p>
          </div>
        </div>
      </div>
      <!-- first section ends here -->

      <!-- second section starts here -->
      <div class="section-two">
        <div class="second-section-writeup">
          <h2 class="header-two">Select your platform to get started</h2>
          <p class="paragraph-two">
            Select your platform to generate an industry standard and business
            compliant privacy policy for your platform.
          </p>
        </div>

        <div class="platforms">
          <div class="choice-platforms">
            <div class="platform-one">
              <div class="icon">
                <img src="./images/website.svg" alt="" width="40" />
              </div>
              <div class="platform-writeup">
                <h5 class="platform-header">Website</h5>
                <p class="platform-subhead">
                  Your clients like to read easily understandable and relevant
                  articles. Our website helps generate similar legal documents.
                </p>
              </div>
            </div>
            <div class="platform-two">
              <div class="icon">
                <img src="./images/e-commerce.svg" alt="" width="40" />
              </div>
              <div class="platform-writeup">
                <h5 class="platform-header">E-commerce</h5>
                <p class="platform-subhead">
                  Help your customers shop with confidence, with a
                  <span class="wrap">plain-speaking</span> Privacy Policy.
                </p>
              </div>
            </div>
            <div class="platform-three">
              <div class="icon">
                <img src="./images/mobile.svg" alt="" width="40" />
              </div>
              <div class="platform-writeup">
                <h5 class="platform-header">Mobile App</h5>
                <p class="platform-subhead">
                  Developing an App for IOS or Android? Generate a unique custom
                  Privacy Policy for your app with a few steps.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="./popup.html"
        >Click me to view create your Terms and Custom Policies</a
      >

      <!-- second section ends here -->
    </div>
  </body>
</html>
