<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./homes.css">
    <script src="base.js" defer></script>
    <script src="https://kit.fontawesome.com/4111ca9f76.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <title>Products</title>
</head>
<body>
    <header>
        
        <div id ="header">
            <img src="images/Frame 18.svg" alt="headerlogo">
            <div class="desktop-navbar">
                <nav class="desktop-navigation">
                    <a href="#products" class ="nav-item product-dropdown">Products</a>
                    <a href="#usage" class ="nav-item">Templates</a>
                    <a href="#feedbacks" class ="nav-item">Feedbacks</a>
                    
                    <a href="#faq" class ="nav-item">About Us</a>
                    <a href="#footer" class ="nav-item">Contact us</a>
        
                </nav>
                <div class="desktop-register-and-login">
                    <a class="login-link" href ="#">Login</a>
                    <a class="signup-link" href="#">Sign Up</a>
                </div>
    
            </div>
            <div id="hamburger">
                <div class="line1"></div>
                <div class="line2"></div>
            </div>
        </div>
         <!-- Start  Nav Bar -->
        <div class="navbar">
            <nav class="navigation">
                <a href="#products" class ="nav-item product-dropdown">Products</a>
                <a href="#usage" class ="nav-item">Templates</a>
                <a href="#header" class ="nav-item">About Us</a>
                <a href="#feedbacks" class ="nav-item">Feedbacks</a>
                <a href="#faq" class ="nav-item">About Us</a>
                <a href="#footer" class ="nav-item">Contact us</a>
    
            </nav>
            <div class="register-and-login">
                <a class="login-link" href ="#">Login</a>
                <a class="signup-link" href="#">Sign Up</a>
            </div>

        </div>
        
    
        <!-- End Nav Bar -->
    </header>
    <main>
        <div id="top-body">
            <h3>Start your journey to policy solutions</h3>
            <p>We are committed to making it as easy as possible to generate Privacy Policies and Terms and Conditions that most website owners, small business owners & developers would require to build their businesses.</p>
        </div>
        <div class="mid-body">
            <div class="terms-main">
                <div class="middle">
                    <img src="images/bro.svg" alt="">
                    <h4>Terms and Conditions</h4>
                    <p>Generate terms and conditions (terms of service) for your website in minutes.
                    </p>
                </div>
                <div class="button">
                    <button class="purple-btn">Generate</button>
                    <button class="white-btn">Read more</button>
                </div>
            </div>
            <div class="terms-main">
                <div class="middle">
                    <img src="images/amico.svg" alt="">
                    <h4>Privacy Policy</h4>
                    <p>Generate privacy policy for your website in minutes. Optimized for e-commerce, marketplace, SaaS, apps and more
                    </p>
                </div>
                <div class="button">
                    <button class="purple-btn">Generate</button>
                    <button class="white-btn">Read more</button>
                </div>
            </div>
        </div>
    </main>



    <!-- Start Footer-->
    <footer id="footer">
        <div class="line"></div>
        <div class="desktop-footer">
            <div class= "footer-line">
                <img class="footer-logo" src="images/Frame 18 (1).svg">
                <n  av class="footer-nav">
                    <div class="first">
                        <a href="#" class="product-dropdown">Products</a>
                        <a href="#">Templates</a>
                        <a href="#">Feedbacks</a>
                        <a href="#">About Us</a>
                    </div>
                    <div class="second">
                        <a href="#">Contact Us</a>
                        <a href="#">Terms</a>
                        <a href="#">Privacy Policy</a>
                    </div>
                </nav>
                
            </div>
            <div class="links">
                <a href="#"><img class="dribble-logo" src="images/iconsDribbble.svg"></a>
                <a href="#"><img class="instagram-logo" src="images/iconsInstagram.svg"></a>
                <a href="#"><img class="linkedin-logo" src="images/iconsLinkedin2.svg"></a>
                
            </div>
        </div>
        <p>&copy; 2022 Policify. All Rights Reserved.</p>

    </footer>

<!-- End Footer -->

</body>
</html>