{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/tcps.css' %}" />
{% endblock extrahead %}


{% block content %}



<main>
    <!-- First section starts here -->
    <!--<div class="first-section">-->
      <div class="row">
        <div class="terms">
          <h2>Terms & Conditions Generator</h2>
          <p>
            Generate terms and conditions (terms of service) for your website in
            minutes. Optimized for ecommerce, marketplace, SaaS, apps and more.
          </p>
        </div>
        <div class="pic">
          <img src="{% static 'images/tcp/bro.svg' %}" alt="" />
        </div>
      </div>
      <div id="butt">
        <a href="{% url 'dashboard' %}" id="gen">Generate</a>
        <a href="preview.html"
          ><button id="pre"><strong>Preview template</strong></button></a
        >
      </div>
    
    <br /><br /><br /><br />
    <!-- First section ends here -->

    <!-- Second section starts here -->
    <div>
      <div class="second-head">
        <h2>Select your platform to get started</h2>
        <p>
          Select your platform to generate an industry standard and business
          compliant terms and conditions for your platform.
        </p>
      </div>
      <br /><br />
      <div class="cards">
        <div class="card">
          <img src="{% static 'images/tcp/icon1.svg' %}" alt="" />
          <h3>Websites</h3>
          <p>
            Your clients like to read easily understandable and relevant
            articles, our website helps generate similar legal documents.
          </p>
        </div>
        <div class="card">
          <img src="{% static 'images/tcp/icon2.svg' %}" alt="" />
          <h3>Ecommerce</h3>
          <p>
            Help your customers shop with confidence, with a plain-speaking
            Terms and Conditions
          </p>
        </div>
        <div class="card">
          <img src="{% static 'images/tcp/icon3.svg' %}" alt="" />
          <h3>Mobile app</h3>
          <p>
            Developing an App for iOS or Android? Generate a unique custom Terms
            and conditions for your app with a few steps
          </p>
        </div>
      </div>
    <!--</div>
    <!-- Second section starts here -->
  </main>
    {% endblock content %}
