*,
::before, 
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.4;
   
}
li {
    margin: 2rem 3rem;
}
.preview-content  h2 {
    margin: 2rem 1rem;
    color: #251B2C
}
 p {
    color: #49414f;
    
 }
 .preview-content > p  {
    margin: 2rem 1rem;
 }
ul {
    color: #49414f;
}
.date {
    margin-top: 2rem;
}
.header {
    
    border-top: 0.3px solid #ECE8EC;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    padding-top: 1.5rem;
    
}
p {
    margin-left: 1rem;
}
#header2 img:hover {
    transform: scale(1.1)
}

#header2 img{
    transition: all .2s ease;
}
#header {
    background-color: #fff;
    padding: 19px 8px;
}
@media only screen and (min-width: 860px) {
    .preview-content {
        width: 600px;
       
        margin-left: 470px;
    }
    .start {
        background-color: #fff;
        padding-block: 2rem;
    }
    
    #header2 {
        padding-block: 22px;
        margin-left: 240px;
        background-color: #fff;
        border-top: 0.3px solid #ECE8EC;
        
    }
    #header2 img {
        padding-left: 1rem;
    }
   #header {
    display: none;
   }
   .preview-content h2, p {
    margin-left: 2rem;
    margin-right: 2rem;
   }

    
}
.input1 {
    position: absolute;
    width: 20px;
    left: 0px;
    top: 0px;
}

.notice {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    width: 250px;
    margin: auto;
    padding: 12px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    background-color: black;
    color: #F9F9F9;
    /*border-radius: 14px;*/
    z-index: 100;
    
    
}

.textarea-main h3{
    font-size: 0.9rem;
    margin-left: 0.5rem;
    margin-top: 1.5rem;
 }
 /*.textarea-main > * {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
 }*/
.textarea-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding-bottom: 80px;
    width: 250px;
    position: relative;
    display: none;
    position: absolute;
    right: 15px;
    box-shadow: 5px 5px 5px rgba(161, 151, 151, 0.1), -5px -5px 5px rgba(161, 151, 151, 0.1);
   animation: fadeout .5s;
    
}
.textarea-main.active {
    display: block;
}
.textarea2 {
    height: 120px;
    width: 220px;
    border-radius: 4px;
    background-color: #fff;
    margin-left: 0.8rem;
    margin-top: 1rem;
    border: 0.3px solid #D3D1D5;
    
}
.copy-btn2 {
    margin-top: 4rem;
    position: absolute;
    right: 13px;
    bottom: 17px;
    background-color: #A535F1;
    border: none;
    color: #F9F9F9;
    padding: 12px 22px;
    border-radius: 25px;
    cursor: pointer;
}
.export-as {
    position: absolute; 
    right: 10px;
    top: 30%;
    
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgba(161, 151, 151, 0.1), -5px -5px 5px rgba(161, 151, 151, 0.1);
    background-color: #fff;
   font-size: 0.85rem;
    height: 100px;
    width: 220px;
    background-color: #f9f9f9;
    z-index: 999;
    margin-left: 0;
    
    padding-left: 2rem;

    animation: fadeout .5s;
}
.formats > * {
    margin-top: 1.4rem;

 
    right: 10%;
    top: 30%;
    
    display: none;
    
    box-shadow: 5px 5px 5px rgba(161, 151, 151, 0.1), -5px -5px 5px rgba(161, 151, 151, 0.1);
    background-color: rgb(252, 246, 247);
   font-size: 0.85rem;
    height: 160px;
    width: 200px;
    line-height: 3;
    z-index: 999;
    margin-left: 0;
    color: #49414f;
    padding-left: 1rem;

    animation: fadeout .5s;
    
}
.formats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formats a {
    margin-top: 0rem;
    color: #49414f;
   
}
.formats a:hover {
    cursor: pointer;
    color: #A535F1;
    font-weight: 600;
}
 .export-as img {
    width: 24px;
    margin-top: 1rem;
    padding-bottom: 0rem;
 }
.close-pop {
    margin-top: 5rem;
    position: absolute;
    left: 13px;
    bottom: 13px;
   
    
}

.socials {
    position: absolute; 
    right: 10px;
    top: 30%;
    background-color: #A535F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    height: 160px;
    background-color: #f9f9f9;
    z-index: 999;
    display: none;
    animation: fadeout .5s;
    
}
.socials img {
    width: 50px;
}
.socials.active {
    display: block;
}

.socials  a {
    color:  #49414f;
   
}
@keyframes fadeout {
    from{
       opacity: 0;
    }
    to{
        opacity: 1;
    }
}

