*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s ease;
    
}
html{
    
    
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
}
/*@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}
@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}
@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}*/
body {
    background-color: #F9F9F9;
}
img {
    width: 30%;
}
a {
    text-decoration: none;
}

#header {
    padding: 24px 16px;
    display: flex;
    justify-content: space-between;
   z-index: 10;
   
    
}
header {
    position: fixed;
    background-color: #F9F9F9;
    width: 100%;
    
}
#intro {
    background-color: #210B30;
    height: 100vh;
    color: #F9F9F9;
    padding-top: 25%;
    text-align: center;
    font-size: 1rem;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.3;
   
}

#intro p {
    font-size: 0.95rem;
    margin-top: 4%;
    padding-bottom: 11%;
}


.navigation {
    display: flex;
    width: 100%;
    flex-direction: column;
    /*margin: 0 8px 0 8px;*/
    align-content: center;
    align-items: center;
    /*justify-content: center;*/
    height: 30%;
    white-space: nowrap;
    font-size: 1em;
    line-height: 2.2em;
    margin-top: 30px;
    
    
    background-color: #F9F9F9;
}
.navigation a {
    color: #959595;
}
.line1, .line2 {
    width: 24px;
    height: 2px;
    margin: 6px;
    background-color: #210B30;
}
.line1-rotate {
    transform: translateY(4px)rotate(45deg);
}
.line2-rotate {
    transform: translateY(-4px)rotate(-45deg);
}
.navbar.hide {
    display: block;
    animation: fadeout .5s;
    
}
.navbar {
    display : none;
    transition: all 0.4s ease;
}
.register-and-login {
    display: flex;
    flex-direction: column;
    margin: 30px auto 30px auto;
    line-height: 3rem;
    align-items: center;

}
.signup-link {
    background-color: #A535F1;
    color: #FFF;
    padding: 0%;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 24px;
}
.login-link {
    color: #251B2C
}
.signup-btn {

    margin-top: 50px;
    color: #F9F9F9;
    background-color: #A535F1;
    padding: 12px 30px;
    border-radius: 33px;

}

.img-space1 {
    width: 100%;
    background-color: gray;
    margin-top: 10%;
    height: 19.7vh;
    margin-left: auto;
    margin-right: auto;
    
}
.product-header {

    text-align: center;
    padding: 9% 8% 12%;
    line-height: 1.45;
    background-color: #F9F9F9;
    color: #49414f
}
.product-header h2 {
    padding-bottom: 3%;
    color: #251B2C;
}
.circle {
    background-color: #210B30;
    width: 15vmin;
    height: 15vmin;
    border-radius: 50%;
    margin-top: 10%;
    margin-bottom: 7%;
}
.product-box {
    height: 100%;
    background-color: #FFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem;
    padding-bottom: 12%;
    border-radius: 7px;
    box-shadow: 5px 5px 5px rgba(161, 151, 151, 0.1), -5px -5px 5px rgba(161, 151, 151, 0.1);
}
.product-box h3 {

    font-size: 1.4rem;
    color: #251B2C;

}
.product-description {
    margin-top: 6%;
    margin-left: 2%;
    margin-right: 2%;
    line-height: 1.4;
    font-size: 1.2rem;
    font-weight: 300;
    color: #49414f;
    

    
    
}

.generate {
    margin-top: 15%;
    
}
.generate-btn {
    margin-right: 1.2rem;
    background-color: #A535F1;
    padding: 1rem 2rem;
    border-radius: 33px;
    color: #FFF;
}
.readmore-btn {
    margin-left: 1.2rem;
    color: #210B30;
}
.how-it-works {
    background-color: #371250;
    color: #CDCDCD;
    text-align: center;
    padding-bottom: 0.01%;
}
.explanation {

    padding: 13% 12%;
    line-height: 1.4;

}
.explanation h2 {
    padding-bottom: 6%;
}

.steps {
    margin-bottom: 4rem;
}
.steps h3 {
    padding-bottom: 6%;
}
.img-space2 {
    display: flex;
    margin:12% auto;
    width: 340px;
    height: 300px;
    background-color: gray;
    border-radius: 6px;
    display: block;
}
.benefits {
    background-color: #F9F9F9;
    padding-block: 15%;
    text-align: center;
    line-height: 1.3;
   
}
.benefit-header {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 8%;
}
.benefit-header h2 {
    color: #251B2C;
   
}
.benefit-header p {
    color: #49414f;
    margin-top: 4%; 

}
.benefit-box {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin: 2rem 1rem;
    padding-bottom: 12%;
    border-radius: 7px;
    
    box-shadow: 5px 5px 5px rgba(161, 151, 151, 0.1), -5px -5px 5px rgba(161, 151, 151, 0.1);

    
}
.benefit-box p {
    margin-top: 5%;
    color: #49414f;
}
.benefit-box h2 {
    color: #251B2C;
}
#feedbacks {
    background-color: #371250;
    height: 100vh;
    text-align: center;
}
.feedback-header {
    color: #F9F9F9;
    padding-block: 15% ;
}
.feedback-header h2 {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 7%;
}
.feedback-header p {
    padding-left: 8%;
    padding-right: 8%;
    line-height: 1.4;
    font-size: 1rem;
    
   
    
}
@keyframes fadeout {
    from{
        transform: translateX(-200px); opacity: 0;
    }
    to{
        transform: translateX(0px); opacity: 1;
    }
}
