* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #f9f9f9;
}
.container {
  padding: 1rem 1rem;
}
.section-one {
  margin-bottom: 0%;
  height: 100%;
  
  
}

  
  
  


.preview:hover {
  color: #6e23a1;
  cursor: pointer;
}
/* section one starts here */
.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-left: 150px;
  
}

.illustration2 img {
  display: block;
  /*margin: 0 auto;*/
  width: 340px;
}
.private-policy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-section-writeup {
  display: block;
  margin: 0 auto;
  width: 60%;
  text-align: center;
}
.header-one {
  padding-bottom: 0.3em;
  font-size: 1.6em;
  color: #111827;
}
.paragraph-one {
  font-size: 1.3em;
  color: #49414f;
}
p
.wrap {
  white-space: nowrap;
}
.linkse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  color: #111827;

  /* margin-bottom: 4em; */
}
/* .button button {
  border: 1px solid #a535f1;
  border-radius: 25px;
  background-color: #a535f1;
  padding: 10px 18px;
} */
.button {
  width: 136px;
  height: 48px;
  border: none;
  background-color: #a535f1;
  border-radius: 25px;
  box-shadow: inset 0 0 0 0 #6e23a1;
  transition: ease-out 0.4s;
  text-align: center;
  vertical-align: middle;
  padding-top: 14px;
}
.button:hover {
  box-shadow: inset 90px 0 0 0 #6e23a1;
  cursor: pointer;
}
.button a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  /* text-align: center; */
}
.template {
  margin-left: 30px;
  font-size: 1.2em;
  /*color: #111827;*/
  color: #49414f
}
/* section one ends here */

/* section two starts here */
.section-two {
  margin-top: 3em;
}

.second-section-writeup {
  /* margin-top: 2em; */
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.second-section-writeup p {
  margin-top: 0.2rem;
}
.header-two {
  padding-top: 1em;
  padding-bottom: 0.3em;
  font-size: 1.6em;
  color: #111827;
}
.paragraph-two {
  color:  #49414f;
  font-size: 1.3em;
  padding-top: 0.3em;
  text-align: center;
  word-wrap: break-word;
}
.platforms {
  margin-top: 3em;
}

.platform-one,
.platform-two,
.platform-three {
  height: 290px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(161, 151, 151, 0.1),
    -5px -5px 5px rgba(161, 151, 151, 0.1);
  margin-bottom: 3vh;
  color: #111827;
  background-color: #ffffff;
  margin-left: 1.5rem;
  padding-bottom: 4vh;
}
.choice-platforms {
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}
.icons img {
  width: 60px;
}
.platform-header {
  font-size: 1.4em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.platform-subhead {
  font-size: 1.2em;
  text-align: center;
  padding: 0 8px;
  color: #49414f;
}
.container p {
  color: #49414f;
}

.popup-container p {
  margin-bottom: 2rem;
  line-height: 1.4;
}

.popup-container {
  position: absolute;
  top: 70px;
  display: none;
  animation: fade .7s;
}

.eks-btn {
  width: 30px;
  float: right;
  margin-right: 10px;
  padding-bottom: 150px;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 50em) {
  /* .container {
    margin: 0.7rem 1rem;
  } */
  .section-one {
    height: 100%;
    margin-bottom: 0;
  }
  .top-section {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 50px;
    padding-left: 0;
  }
  .top-section-writeup {
    width: 100%;
  }
  .illustration2 img {
    display: block;
    margin: 0 auto;
    width: 60%;
  }
  .private-policy {
    
    margin-top: 3vh;
    font-size: 1.2em;
  }
  .paragraph-one {
    font-size: 1em;
    margin-bottom: 5vh;
  }
  .paragraph-one,
  .paragraph-two,
  .platform-subhead {
    color: #49414f;
  }
  .second-section-writeup {
    width: 100%;
  }
  .platform-header,
  .preview {
    color: #251b2c;
  }
  .header-one {
    color: #1f1725;
  }
  .linkse {
    margin-top: 1em;
  }
  .choice-platforms {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
  .platforms {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .platform-one,
  .platform-two,
  .platform-three {
    padding-top: 3vh;
    margin-left: 0;
    width: 100%;
  }
  .paragraph-one {
    font-size: 0.92em;
  }
  .paragraph-two,
  .platform-subhead,
  .preview {
    font-size: 1.1em;
  }
  .button {
    /* width: 136px;
    height: 48px; */
    width: 100px;
    height: 38px;
    padding-top: 9px;
  }
  .button a {
    font-size: 0.9em;
  }
  .template {
    font-size: 1em;
  }
  
  .eks {
    width: 50px;
  }
}


.popup-container {
  display: none;
}
/*popup-here */

body {
  font-family: "Inter", sans-serif;
}
.popup-container {
  padding: 0 2em;
  background-color: #ffffff;
}
.cancel-image {
  text-align: right;
  margin-bottom: 4vh;
}
.header {
  font-weight: 900;
  color: #251b2c;
  margin-top: 1.5rem;
}
.sub-head {
  color: #251b2c;
}